Source: ubnt-dkst54-support
Section: misc
Priority: optional
Maintainer: support@netping.ru
Version: 2.1-4

Package: ubnt-dkst54-support
Architecture: all
Depends: iptables-persistent,
         dksl-90
Replaces: ubnt-zabbix-template, ubnt-app-borg, zabbix-nginx-conf
Build-Depends: debhelper-compat
Description: NetPing
 UBNT-dkst54-support.
